<app-header></app-header>

<h3 style="text-align: center"> Votre profil </h3>
<br><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10" id="profil">
			<br>
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<img id="imageProfil" src="assets/img/profil.png" width="300" height="300" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
			</div>
			<div class="col-lg-6" id="infosProfil">
				<div class="row" id="nomProfil">
					Van Iseghem Pierre
				</div>
				<br>
				<div class="row">
					<div class="col-lg-2">
						<p>Adresse : </p> 
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6">
						29 place Jules Romains
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<p>Numéro : </p> 
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6">
						0654585478
					</div>
					<br>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<p>Mail : </p> 
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6">
						pierre.vaniseghem@gmail.com
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<p>Niveau : </p> 
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6 text">
						Admin
					</div>
				</div>
				<div class="row"><br></div>
				<div class="row">
					<div class="col-lg-2">
						<button type="button" class="btn btn-primary">Modifier</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>