<h3>Formulaire d'inscription</h3>
<form (ngSubmit)="callConnexion()">
  <div class="form-group">
    <label>Nom</label>
    <input #nom type="text" class="form-control" name="nom">
  </div>
  <div class="form-group">
    <label>Prénom</label>
    <input #prenom type="text" class="form-control" name="prenom">
  </div>
  <div>
    <label>Adresse email</label>
    <input #mail type="email" class="form-control" name="mailInscription">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input #mdp type="password" class="form-control"name="mdpInscription">
  </div>
  <div class="form-group">
    <label>Ville</label>
    <input #ville type="text" class="form-control" name="ville">
  </div>
  <div class="form-group">
    <label>Adresse</label>
    <input #adresse type="text" class="form-control" name="adresse">
  </div>
  <div class="form-group">
    <label>Téléphone</label>
    <input #tel type="text" class="form-control" name="tel">
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>