<h3 style="text-align: center;">Vos emprunts</h3>
<br>
<div class="list-group">
	<div *ngFor="let composant of listBiensProp" class="row">
		<div class="row" id="item" *ngIf="composant.Actif != 0">
			<br>
    		<div class="col-lg-3">
		        <img src="assets/img/logo.png" width="200" height="200" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<div class="row" style="padding-bottom: 10px"><button type="button" class="btn btn-warning btn-lg">Bien</button></div>
		        <div class="row"> <p>Nom : {{composant.nom}}</p> </div>
		        <div class="row"> <p>Durée : 3 jours</p> </div>
		        <div class="row"> <p>Proposé par : Robert</p> </div>
		        <div class="row"> <p>ça = {{composant.Actif}}</p> </div>
	        </div>
	        <div class="col-lg-3">
				  {{composant.descriptif}}
	        </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<br>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" routerLink="/recherche/biens-descriptif" >Voir</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary">Modifier</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" (click)="supprimerBien(composant.idBien)">Supprimer</button>
	      		</div>
	        </div>
	    </div>
    </div>
    <div *ngFor="let composant of listServicesProp" class="row">
		<div class="row" id="item" *ngIf="composant.Actif != 0">
			<br>
    		<div class="col-lg-3">
		        <img src="assets/img/logo.png" width="200" height="200" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<div class="row" style="padding-bottom: 10px"><button type="button" class="btn btn-info btn-lg">Service</button></div>
		        <div class="row"> <p>Durée : 3 jours</p> </div>
		        <div class="row"> <p>Proposé par : Robert</p> </div>
	        </div>
	        <div class="col-lg-3">
				  {{composant.descriptif}}
	        </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<br>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary">Voir</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary">Modifier</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" (click)="supprimerService(composant.idService)">Supprimer</button>
	      		</div>
	        </div>
	    </div>
    </div>
</div>