<app-header></app-header>

<br><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10" id="profil">
			<br>
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<img id="imageProfil" src="assets/img/profil.png" width="300" height="300" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
			</div>
			<div class="col-lg-6" id="infosProfil">
				<div class="row" id="nomProfil">
					{{this.infos.nom}}
				</div>
				<br>
				<div class="row">
					<div class="col-lg-2">
						<p> Descriptif: </p> 
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6">
						{{this.infos.descriptif}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<p>Mail du proriétaire: </p> 
					</div>
					<div class="col-lg-6">
						{{this.infos.mailProp}}
					</div>
				</div>
				<div class="row"><br></div>
				<div class="row" *ngIf="affichage">
					<div class="col-lg-2" *ngIf="isLogged">
						<button type="button" class="btn btn-primary">Emprunter</button>
					</div>
				</div>
				<div class="row" *ngIf="!affichage">
					<h3>Il s'agit d'un bien/service que vous proposez</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<app-calendar></app-calendar>
</div>