<app-header></app-header>

<div class="container">
  <h3>Navbar Forms</h3>
  <p>Use the .navbar-form class to vertically align form elements (same padding as links) inside the navbar.</p>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>The .input-group-btn class attaches a button next to an input field. This is often used as a search bar:</p>
  <br/><br/>
</div>

<div class="container-fluid">
	<div class="col-lg-6">
		<div style="padding-bottom: 20px;">
			<h3>Recherche par nom</h3>
			<input #boxNom (keyup)="simpleSearch(boxNom.value)">
		</div>
		<div class="list-group">
		  <div class="row" id="item" *ngFor="let bien of biens">
			<br>
			<div class="col-lg-3">
		        <img src="assets/img/logo.png" width="200" height="200" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<div class="row" style="padding-bottom: 10px"><button type="button" class="btn btn-warning btn-lg">Bien</button></div>
		        <div class="row"> <p>Nom : {{bien.nom}}</p> </div>
		        <div class="row"> <p>Proposé par : {{bien.mailProp}}</p> </div>
		    </div>
		    <div class="col-lg-3">
				  {{bien.descriptif}}
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<br>
		  		<div class="row" style="padding-bottom: 3px; padding-top: 40px;">
		  			<button type="button" class="btn btn-primary" (click)="sendInfos(bien)" style="padding: 15px;">
		  			Voir
		  			</button>
		  		</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="col-lg-6">
		<div style="padding-bottom: 20px;">
			<h3>Recherche par mots-clefs</h3>
			 <div class="row" style="padding-bottom: 15px;">
			  	<div class="col-lg-3">
			  		<input #box id='box'>
			  	</div>
			  	<div class="col-lg-1">
			  		<button class="btn btn-primary" (click)="add(box.value)">Ajouter</button>
			  	</div>
			  	<div class="col-lg-1" style="padding-left: 30px;">
			  		<button class="btn btn-primary" (click)="suppr()">Supprimer</button> 
			  	</div>	
			 </div>
			 <div class="row" style="padding-bottom: 30px">
				<div *ngFor="let value of listMotsClefs">
				  	<div class='col-lg-1'>
				  		<h4>{{value}}</h4>
				    </div>
				</div>
		     </div>
		</div>
	</div>
</div>
