<div class="row" style="text-align: center;">
	<h3>Vos biens et services</h3>
	<button type="button" class="btn btn-primary" routerLink="/auth/compte/ajout/ajout-bien">Ajouter un nouveau bien/service</button>
</div>


<br>
<div class="list-group">
	<div *ngFor="let composant of listBiensProp" class="row">
		<div class="row" id="item" *ngIf="composant.Actif != 0">
			<br>
    		<div class="col-lg-3">
		        <img src="assets/img/logo.png" width="200" height="200" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<div class="row" style="padding-bottom: 10px"><button type="button" class="btn btn-warning btn-lg">Bien</button></div>
		        <div class="row"> <p>Nom : {{composant.nom}}</p> </div>
		        <div class="row"> <p>Proposé par : {{composant.mailProp}}</p> </div>
	        </div>
	        <div class="col-lg-3">
				  {{composant.descriptif}}
	        </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<br>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" (click)="sendInfos(composant)">Voir</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" routerLink="/auth/compte/modifier/modifier-bien" (click)="sendInfosFull(composant)">Modifier</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" (click)="supprimerBien(composant._id)">Supprimer</button>
	      		</div>
	        </div>
	    </div>
    </div>
    <div *ngFor="let composant of listServicesProp" class="row">
		<div class="row" id="item" *ngIf="composant.Actif != 0">
			<br>
    		<div class="col-lg-3">
		        <img src="assets/img/logo.png" width="200" height="200" class="d-inline-block align-top" alt="" style="padding-bottom: 15px;">
		    </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<div class="row" style="padding-bottom: 10px"><button type="button" class="btn btn-info btn-lg">Service</button></div>
		        <div class="row"> <p>Proposé par : {{composant.mailProp}}</p> </div>
	        </div>
	        <div class="col-lg-3">
				  {{composant.descriptif}}
	        </div>
		    <div class="col-lg-3" style="text-align: center;">
		    	<br>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" routerLink="/recherche/descriptif" (click)="blbla(composant)">Voir</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" routerLink="/auth/compte/modifier/modifier-service">Modifier</button>
	      		</div>
	      		<div class="row" style="padding-bottom: 3px;">
	      			<button type="button" class="btn btn-primary" (click)="supprimerService(composant._id)">Supprimer</button>
	      		</div>
	        </div>
	    </div>
    </div>
</div>