<nav class="navbar navbar-inverse navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-toggler-icon"></span>
      <a class="navbar-brand" href="#">
        <!--<img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">-->
        ShareWood
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Accueil</a></li>
      <li><a href="#">Recherche</a></li>
      <li><a href="#">S'enregistrer</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Navbar Forms</h3>
  <p>Use the .navbar-form class to vertically align form elements (same padding as links) inside the navbar.</p>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>The .input-group-btn class attaches a button next to an input field. This is often used as a search bar:</p>
</div>

<app-biens></app-biens>
