<app-header></app-header>

<div class="container">
  <h3>Navbar Forms</h3>
  <p>Use the .navbar-form class to vertically align form elements (same padding as links) inside the navbar.</p>
  <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
  <p>The .input-group-btn class attaches a button next to an input field. This is often used as a search bar:</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h3>Liste des biens récents</h3>
    	<app-biens></app-biens>
    </div>
    <div class="col-lg-6">
      <h3>Liste des services récents0</h3>
    	<app-biens></app-biens>
    </div>
  </div>
</div>