<app-header></app-header>

<div class="container">
  <h3>Bienvenue sur ShareWood.com</h3>
  <p>Ce site a pour vocation le partage de biens et de services entre les utilisateurs.</p>
  <p>Créez un compte, proposez vos biens ou vos services puis utilisez la recherche si vous avez vous-même besoin d'aide.</p>
  <p>Attention, malgré que l'entraide soit encouragée sur le site, des prix trop élevés ou des emprunts réccurents dans contreparties seront sanctionnés.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h3>Liste des biens récents</h3>
    	<app-biens-recents></app-biens-recents>
    </div>
    <div class="col-lg-6">
      <h3>Liste des services récents</h3>
    	<app-services-recents></app-services-recents>
    </div>
  </div>
</div>